:root {
  --text-color: #fff;
  --dark-color: #000;
  --error-color: rgb(240, 85, 85);
  --bg-color: #404045;
  --bg-page-color: #292a2d;
  --btn-color: #71717a;
  --icon-color: #fff;
  --form-color: #404045;
  --contacts-text-color: #71717a;
  --contacts-text-color-hover: #fff;
  --box-shadow-color: 0 0 0;
  --box-shadow-hover-color: 255 255 255;
}

.light {
  --text-color: #1a1a1a;
  --dark-color: #000;
  --error-color: rgb(240, 85, 85);
  --bg-color: #000;
  --bg-page-color: #fff;
  --btn-color: #1a1a1a;
  --form-color: #fff;
  --contacts-text-color: #71717a;
  --contacts-text-color-hover: #000;
  --box-shadow-color: 0 0 0;
  --box-shadow-hover-color: 0 0 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--bg-page-color);
  overflow-y: auto;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--dark-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
  }
}
